name: golden-tests

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  policy-golden-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Install deps
        run: npm ci
        working-directory: .
      - name: Run golden tests
        run: npm run test:golden
        working-directory: .
